@use '../abstracts/variables';

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 0.06em;
}

.section__info {
	margin: 50px 0;
}

.section__keyboard {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 1050px;
	padding: 10px;
	border-radius: 15px;
	background-color: #323232;
	box-shadow: 0 0 3px 0px variables.$color-dark;
}